<!DOCTYPE html>
<!-- Grid -->
  <div class="w3-row w3-center w3-border">

<h1>My Leashes </h1>

<a href="/leashes/new"> 
<input type="button" value="Add New Leash"></input></a></p>
</div>

<p>Safety leashes.each do |display| %>
  <div>
     <label>
     <a href= "/leashes/<%= display.id%>"><%= display.id%> <%=display.nickname%>
  </div>
 <% end %>