<!DOCTYPE html>
<!-- Grid -->
  <div class="w3-row w3-center w3-border">

<h1> Leashes</h1>
<br>
<a href="/leashes/new"> 
<input type="button" value="Add New Leash"></input></a></p>
</div>
<a href="/leashes/home"> 
<input type="button" value="My Leashes"></input></a></p>
</div>
<br>
<h3> Safety First! </h3>
<br>
<% @leashes.each do |display| %>
  <div>
     <label>
     <a href= "/leashes/<%= display.id%>"><%= display.nickname%>
    
  </div>
 <% end %>