<!DOCTYPE html>
<!-- Grid -->
  <div class="w3-row w3-center w3-border">

<h1>Another fine addition to the collection!</h1>

<form action="/leashes" method="post">
    <p><label> Nickname: <input type="text" name="nickname"></label></p>
    <p><label> Brand: <input type="text" name="brand"></label></p>
    <p><label> Length: <input type="text" name="length"></label></p>
    <p><label> Thickness: <input type="text" name="thickness"></label></p>
  <input type="submit">
</form>