<!DOCTYPE html>
<!-- Grid -->
  <div class="w3-row w3-center w3-border">

<h1>Make an update to <%=@break.name%>?</h1>

  <form method="post" action="/breaks/<%=@break.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch">

    <p><label> Location: <input type="text" name="break[location]"></label></p>
    <p><label> Name: <input type="text" name="break[name]"></label></p>
    <p><label> Break: <input type="text" name="break[break]"></label></p>
    <p><label> Height: <input type="text" name="break[height]"></label></p>
    <p><label> Direction: <input type="text" name="break[direction]"></label></p>
    <p><label> Water Level: <input type="text" name="break[water_level]"></label></p>
    <p><label> Shakas: <input type="radio" id="1" name="break[shakas]" value="1">1<input type="radio" id="2" name="break[shakas]" value="2">2<input type="radio" id="3" name="break[shakas]" value="3">3<input type="radio" id="4" name="break[shakas]" value="4">4<input type="radio" id="5" name="break[shakas]" value="5">5</label></p>
  <input type="submit">
</form>