<!DOCTYPE html>
<!-- Grid -->
  <div class="w3-row w3-center w3-border">

<h1>My Breaks </h1>

<a href="/breaks/new"> 
<input type="button" value="Add New Break"></input></a><br>

<h3> So many waves!</h3>
<% @user.breaks.each do |display| %>
       <label>
     <p><a href= "/breaks/<%= display.id%>"><%=display.name%></p>
 <% end %>
 </div>