<!DOCTYPE html>
<!-- Grid -->
  <div class="w3-row w3-center w3-border">

<h1>My Breaks </h1>

<a href="/breaks/new"> 
<input type="button" value="Add New Break"></input></a></p>
</div>

<p> So many waves!</p>
<% @user.breaks.each do |display| %>
  <div>
     <label>
     <a href= "/breaks/<%= display.id%>"><%=display.name%>
  </div>
 <% end %>