<h1> Breaks</h1>
<br>
<a href="/breaks/new"> 
<input type="button" value="Add New Break"></input></a></p>
</div>
<a href="/breaks/home"> 
<input type="button" value="My Breaks"></input></a></p>
</div>
<br>
<h5> Pray for sets!</h5>
<br>
<% @breaks.each do |display| %>
  <div>
     <label>
     <a href= "/breaks/<%= display.id%>"><%= display.name%>
    
  </div>
 <% end %>
<br>
<br>
<a href="/users/home"> 
<p><input type="button" value="Home"></input</a></p>
<a href="/logout">
<p><input type="button" value="Log out"></input></a></p>