<!DOCTYPE html>
<!-- Grid -->
  <div class="w3-row w3-center w3-border">

<h1>Never enough waves!</h1>

<form action="/breaks" method="post">
    <p><label> Location: <input type="text" name="location"></label></p>
    <p><label> Name: <input type="text" name="name"></label></p>
    <p><label> Break: <input type="text" name="break"></label></p>
    <p><label> Direction: <input type="text" name="direction"></label></p>
    <p><label> Height: <input type="text" name="height"></label></p>
    <p><label> Water Level: <input type="text" name="water_level"></label></p>
    <p><label> Shakas: <input type="radio" id="1" name="shakas" value="1">1<input type="radio" id="2" name="shakas" value="2">2<input type="radio" id="3" name="shakas" value="3">3<input type="radio" id="4" name="shakas" value="4">4<input type="radio" id="5" name="shakas" value="5">5</label></p>
  <input type="submit">
</form>