<h1> Welcome back <%= @user.username.capitalize%>!</h1>
<h3> </h3>
<h4><%= See... we told you we could watch your things.</h4>
<br>
    <nav>
        <a href="/boards/home"> 
        <input type="button" value="My Quiver" class="front_button"></a> <br>
        <br><br>
        <a href="/breaks/home">
        <input type="button" value="My Breaks" class="front_button"></a> <br>
        <br><br>
        <a href="/leashes/home">
        <input type="button" value="My Leashes" class="front_button"></a> <br>
        <br><br>
        <a href="/users/edit">
        <input type="button" value=" My Account" class="front_button"></a> <br>
        <br><br>
        <br>
        <a href="/logout"> Log Out </a>
    </nav>
