

# <div style="width:300px; margin:auto; position:relative;">
# <audio controls autoplay loop=true preload src="/music/howl.mp3" type="audio/mp3">
# </audio>
# </div>


<h1> Welcome brah</h1>
<h3> </h3>
<br>
<p><p>
    <nav>
        <a href="/boards/index"> 
        <button type="button" value="Quiver" class="front_button"> 
        Quiver</button> </a> <br>
        <br><br>
        <a href="/breaks">
        <button type="button" value="Breaks" class="front_button"> 
        Breaks</button> </a> <br>
        <br><br>
        <a href="/leashes">
        <button type="button" value="Leashes" class="front_button"> 
        Leashes</button> </a> <br>
        <br><br>
        <br>
        <a href="/logout"> Log Out </a>
    </nav>