<!DOCTYPE html>
<!-- Grid -->
  <div class="w3-row w3-center w3-border">

<h1>No kooks allowed!</h1>
<h4>Sign Up</h4>
<form action="/signup" method="POST">
  <p>Username: <input type="text" name="username"></p>
  <p>Email: <input type="text" name="email"></p>
  <p>Password: <input type="text" name="password"></p>
  <input type="submit">
</form>
<br>
<br>
<h7> Already have an account?</h7>
<a href="/"> 
<input type="button" value="Log In"></p> </a>