<h1><%= current_user.username %>'s Quiver </h1>

<a href="/boards/new"> 
<button type="button" value="Add New Board">Add New Board</button></a></p>
</div>

# <a href="/boards/edit"> 
# <button type="button" value="Edit Board">Edit Board</button></a> </p>
# </div>

<p> What up, <%= current_user.username %>

# <% @boards.each do |a| %>
#   <div>
#     <label>
#     <%= a.id%>
#     <%= a.nickname%>
    
#   </div>
# <% end %>

<br>
<a href="/users/home"> 
<p><input type="button" value="Home"></input</a></p>
<a href="/logout">
<p><input type="button" value="Log out"></input</a></p>