<h1> Quiver </h1>

<a href="/boards/new"> 
<input type="button" value="Add New Board"></input></a></p>
</div>
<a href="/boards/home"> 
<input type="button" value="My Quiver"></input></a></p>
</div>

<p> Check out all the boards we hold!</p>

<% @boards.each do |display| %>
  <div>
     <label>
     <a href= "/boards/<%= display.id%>"><%= display.nickname%>
    
  </div>
 <% end %>

<br>
<a href="/users/home"> 
<p><input type="button" value="Home"></input</a></p>
<a href="/logout">
<p><input type="button" value="Log out"></input></a></p>