<!DOCTYPE html>
<!-- Grid -->
  <div class="w3-row w3-center w3-border">

<h1>New board?!</h1>

<form action="/boards" method="post">

    <label> Board Type: </label>
    <br>
        <input type="radio" id="short" name="model" value="short">
            <label for="type">Shortboard</label>
    <br>
        <input type="radio" id="long" name="model" value="Longboard">
            <label for="long">Longboard</label>
    <br>
        <input type="radio" id="fun" name="model" value="Fun">
            <label for="fun">Funboard</label>
    <br>
        <input type="radio" id="fish" name="model" value="Fish">
            <label for="fish">Fish</label>  
    <br>
        <input type="radio" id="beater" name="model" value="Beater">
            <label for="beater">Beater</label>
    <br>
        <input type="radio" id="gun" name="model" value="Gun">
        <label for="gun">Gun</label>
    <br>
    <br>
    <p><label> Nickname: <input type="text" name="nickname"></label></p>
    <p><label> Material: <input type="text" name="material"></label></p>
    <p><label> Brand: <input type="text" name="brand"></label></p>
    <p><label> Color: <input type="text" name="color"></label></p>
    <p><label> Dimentions: <input type="text" name="dimentions"></label></p>
    <p><label> Fins: <input type="text" name="fins"></label></p>
    <p><label> Finbox: <input type="text" name="finbox"></label></p>
    <p><label> Volume: <input type="integer" name="volume"></label></p>
    <p><label> Dings: <input type="integer" name="dings"></label></p>
    <p><label> Watertight? <input type="radio" id="yes" name="watertight" value="Yes">Yes<input type="radio" id="no" name="watertight" value="No surfin' today">No</label></p>
  <input type="submit">
</form>