<h1> New Board</h1>

<form action="/boards" method="post">

    <label> Board Type: </label>
    <br>
        <input type="checkbox" id="short" name="short">
            <label for="short">Shortboard</label>
    <br>
        <input type="checkbox" id="long" name="long">
            <label for="long">Longboard</label>
    <br>
        <input type="checkbox" id="fun" name="fun">
            <label for="fun">Funboard</label>    
    <br>
        <input type="checkbox" id="beater" name="beater">
            <label for="beater">Beater</label>
    <br>
    <br>
    <label>
</form>