<!DOCTYPE html>
<!-- Grid -->
  <div class="w3-row w3-center w3-border">

 <div class="login">
     <form method="post" action="/login">
         <p class="p3"> <label for="username"> Username </label> </p>
        <input type="text" name="username" class="login_input">
 <br> <br>
        <p class="p3"> <label for="password"> Password </label> </p> 
        <input type="password" name="password" class="login_input">
<br> <br>
        <p> <input type="submit" value="Log In"> </p>
     </form>
    <p> or <p>
        <a href="/signup"> 
        <input type="button" value="Sign Up"></p> </a>
         <br>

