<div style="width:300px; margin:auto; position:relative;">
</div>
<h1>The Surf Organizer</h1>
<h3> We watch your stuff so you dont have to!</h3>
<br>
<p>Please login or Sign-up below:</p>

<div class="login">
    <form method="post" action="/login">
        <p class="p3"> <label for="username"> Username </label> </p>
        <input type="text" name="username" class="login_input">
<br> <br>
        <p class="p3"> <label for="password"> Password </label> </p> 
        <input type="password" name="password" class="login_input">
<br> <br>
        <p> <input type="submit" value="Log In"> </p>
    </form>
    <p> or <p>
        <a href="/signup"> 
        <input type="button" value="Sign Up"></p> </a>
        <br>
        <a href="/logout"> Log Out </a>

