<div style="width:300px; margin:auto; position:relative;">
</div>
<h1>Surf Organizer</h1>
<h3> We track your stuff so you don't have to!</h3>
<br>
<p>Please login or Sign-up below:</p>

<div class="login">
    <form method="post" action="/login">
        <p class="p3"> <label for="username"> Username </label> </p>
        <input type="text" name="username" class="login_input">
<br> <br>
        <p class="p3"> <label for="password"> Password </label> </p> 
        <input type="password" name="password" class="login_input">
<br> <br>
        <p class="p4"> <input type="submit" value="Log In" class="front_button"> </p>
    </form>
<br> <br>
        <a href="/signup"> 
        <button type="button" value="Sign Up" class="front_button"> 
        Sign Up </button> </p> </a>
  
</div>

