<!DOCTYPE html>
<html lang="en">
<title>Surfing Buddy</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/users/home" class="w3-bar-item w3-button w3-padding-large w3-hide-small">HOME</a>
    <a href="/boards/home" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Quiver</a>
    <a href="/breaks/home" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Breaks</a>
    <a href="/leashes/home" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Leashes</a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="surfbuddy"> Surfing Buddy <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="/boards/index" class="w3-bar-item w3-button">Quiver</a>
        <a href="/breaks/index" class="w3-bar-item w3-button">Breaks</a>
        <a href="/leashes/index" class="w3-bar-item w3-button">Leashes</a>
      </div>
    </div>
    <a href="/logout" class="w3-padding-large w3-hover-red w3-hide-small w3-right">Log Out</i></a>
  </div>
</div>

<!-- Header -->
<header>
<div class="w3-content" style="max-width:3000px;margin-top:46px">

<!-- Image -->
<div class="w3-display-container w3-center">
  <img src="/images/mw.png" style="width:100%">
  <div class="w3-display-middle w3-container w3-text-black w3-padding-32 w3-hide-small">
    <h1>Surfing Buddy</h1>
    <h6>I take care of the boring stuff while you go shred! You're welcome.</h6>  
  </div>
</div>
<footer class="w3-container w3-black" style="padding:20px">
</header>

<%= yield %>

<!-- Footer -->
<footer class="w3-container w3-black" style="max-width:3000px;margin-top:5px">
  <small>&copy; 2021 <strong>Surfing Buddy</strong></small>
</footer>

</html>